.App {
    text-align: center;
}

.movies-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movies-list img {
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
